.footer {
  height: 5vh;
  padding-top: 20px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  & > a {
    margin-left: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  & img {
    margin-left: 10px;
    width: 100px;
  }
}
