*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

// img {
//   display: block;
//   max-width: 100%;
//   height: auto;
// }

.search-form {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 8px;
  margin-bottom: 24px;

  background-color: cornflowerblue;
}

.load-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.load-more.is-hidden {
  display: none;
}

input {
  margin-right: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  max-width: calc(100vw - 80px);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.gallery img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.info-item {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
}
